body{
    width:100%;height:120vh;
}
#name{
    display:inline-block;
    margin-left:150px;
    color:white;
    height:100vh;
    width: 30%;
    float:left;
    background-color:rgb(52, 61, 58);
}

#images1{
    display:block;
    margin-top:3px;
    margin-left:17%;

    width:60%;height:250px;border-radius:4000px;
}
#img2,#img3,#img4,#img5{
    width:22px;height:22px;
    margin-left:12px;
}
a,#bold,label{
    margin-left:22px;
    color:white;
}
#int,#edu,#lang,#prof{
    margin-left:22px;
}

#pro{
    width:75%;
    height:20px;
    justify-content: center;
    border-radius:20px;
}
.prof{
    width:70%;
    height:20px;
    text-align: center;color:black;
    justify-content: center;
    background-color: rgb(137, 225, 194);
    border-radius:20px;
}
.prof1{
    width:60%;height:20px;
    text-align: center;
    border-radius:20px;color:black;
    background-color: aquamarine;
}
/*#interest{
    margin-top: 55px;
    
} */
h3,h1{
    margin-left:15px;
}
/* right side */
#lname{
    display:inline-block;
    width:45vw;
    height:100vh;
    margin-right:210px;
    float:right; color:black;
    background-color:rgb(212, 246, 235);
}
#skills{
    margin-left:15px;
}
#prof3{
    width:80%;margin-left:22px;
    height:20px;color:aliceblue;
    text-align: center;
    justify-content: center;
    background-color: rgb(17, 18, 18);
    border-radius:20px;
}
#prof4{
    width:80%;margin-left:22px;
    height:20px;color:aliceblue;
    text-align: center;
    justify-content: center;
    background-color: rgb(17, 18, 18);
    border-radius:20px;
}
#prof5{
    width:70%;margin-left:22px;
    height:20px;color:aliceblue;
    text-align: center;
    justify-content: center;
    background-color: rgb(17, 18, 18);
    border-radius:20px;
}
#prof6{
    width:60%;margin-left:22px;
    height:20px;color:aliceblue;
    text-align: center;
    justify-content: center;
    background-color: rgb(17, 18, 18);
    border-radius:20px;
}
#prof7{
    width:50%;height:20px;color:aliceblue;
    text-align: center; margin-left:22px;
    border-radius:20px;
    background-color: rgb(17, 18, 18);
}
#sk,.sk1,#sk1,#sk2,#sk3,#sk4,#sk5{
    margin-left:30px;
}
.sk2{
    margin-left:22px;
}